<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Envios Maritimos</li>
  </ol>
</nav>

<a [routerLink]="['/maritimo/create']"  style="float: right" id="add">Agregar Envio Maritimo</a>

<h2>{{ title }}</h2>
<div *ngIf="loading">
  <p>Loading...</p>
</div>

<div>

  <table>
    <thead>
    <th>Id</th>
    <th>Numero guia</th>
    <th>Numero placa</th>
    <th>Cliente</th>
    <th>Tipo producto</th>
    <th>Precio original</th>
    <th>Precio envio</th>
    <th>Cantidad de producto</th>
    <th>Fecha registro</th>
    <th>Fecha entrega</th>
    <th>Bodega entrega</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <tr *ngFor="let envio of envios; index as i">
      <td> {{ envio.id }}</td>
      <td> {{ envio.numeroGuia }}</td>
      <td> {{ envio.numeroFlota }}</td>
      <td> {{ envio.cliente.nombre }}</td>
      <td> {{ envio.tipoProducto }}</td>
      <td> {{ envio.precioOriginal | currency }}</td>
      <td> {{ envio.precioEnvio | currency }}</td>
      <td> {{ envio.cantidadProducto }}</td>
      <td> {{ envio.fechaRegistro | date: 'dd/MM/yyyy' }}</td>
      <td> {{ envio.fechaEntrega | date: 'dd/MM/yyyy' }}</td>
      <td> {{ envio.puertoEntrega }}</td>
      <td>
        <button type="button" (click)="editar(envio)">Editar</button>
        |
        <button type="button" (click)="eliminar(envio)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
